body{
    background-color: aqua;
}
h1{
    color: black;
}
#A{
    color: aquamarine;
    background-color: black;
    width: 25%;
    size: 0cm;
}
div{
   
  width: 100%;
  height: 100vh;
  background-image: url(mUSSO\ MART.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%
}